* {
	box-sizing: border-box;
}

nav {
	padding: 15px;
	background: red;
}

nav a {
	color: darkred;
	text-decoration: none;
	margin-right: 10px;
}

form {
	margin: 1rem auto;
	padding: 1rem;
	background: #ebebeb;
	border-radius: 6px;
	max-width: 500px;
}

input,
textarea {
	font-size: 1rem;
	margin-top: 10px;
	width: 100%;
	padding: 5px;
}

textarea {
	height: 200px;
}

select {
	display: block;
}

button {
	font-size: 1rem;
	margin-top: 10px;
	display: block;
}

span {
    color: red;
    font-size: 0.8em;
}

.container {
	max-width: 1100x;
	margin: 1rem auto;
}

.form-error {
	background: #fbb;
	color: darkred;
	padding: 0.5rem 1rem;
}

li {
	list-style-type: none;
	padding-bottom: 3em;
}

