* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    flex-direction: column;
    margin: 0;
    font-family: $font-primary;
  }
  
  .wrapper { ///remove this or either use wrapper or container
    flex: 1 0 auto;
    padding-top: 1em;
    width: 85%;
    margin: 0 auto;

    @media (max-width: $tabletPRO-width) {
      width: 90%;
    }   

    @media (max-width: $tablet-width) {
      padding-top: 4.5em;
  }
    padding-bottom: 40vh;
  }

  .wrapperhome { ///remove this or either use wrapper or container
    @extend .wrapper;
    padding-top: 5.4em;
    width: 100%;
  }
  
  .container {
    max-width: 100%;
    padding: 0em;
    margin: 0 auto;
  }

  .item-container {
    padding-bottom: 10vh;
    padding-top: 10vh;
  }
  
  .container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .flex-row {
    flex-direction: row;
  }

  ul {
    list-style: none;
    margin: none;
    padding: 0;
  }
  
  li {
    margin: none;
    font-size: 1em;
  }